---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">We envision, design, build & deploy technology in the most cost-effective manners.</h1>
    <p>We achieve this by focusing on what truly matters, empowering every individual.</p>
    <p>
      Digitisation need not be expensive & complicated. Our strategy, system design and execution processes are speedy &
      agile enough to start showing results ASAP.
    </p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>

    <h3>Our Services</h3>

    <h2>Websites & SEO</h2>
    <p>A good website should establish a strong brand identity & tell your story as you want it told.</p>
    <p>
      When many think of successful web design and development they think of domain names and website color schemes.
      However, successful website design has its roots in clear priorities for the information you want to provide and
      the audience you want to target. By applying user analysis and following reliable design processes, we can help
      you reach the right audience, create better content and automate your marketing based on visitor insights.
      Remember, your website is an asset to serve your audience!
    </p>
    <p>KPIs: Solid Visual Hierarchy, Simplicity of information, Clear Call To Action, Accessible from any device</p>

    <h2>Web & Mobile Apps</h2>
    <p>
      We are experts in building well-designed & optimized custom applications with a delightful UX for the Web, iOS and
      Android.
    </p>
    <p>
      By combining customer experience-led design thinking with software engineering excellence, we help you build
      custom applications that create immersive, engaging experiences. We help you successfully deliver
      concept-to-product projects, with proven methodologies that ensure that the experiences you create and your
      business objectives are always aligned.
    </p>
    <p>
      Being experienced in the nuances of different technologies lets us select the right stack for the business needs
      at hand.
    </p>

    <h2>Product Consulting</h2>
    <p>We enable you to respond to fast-changing customers, employees and market-expectations.</p>
    <p>
      Too often, the question is “Lean or Agile?”. The answer is “and,” not “or”: it’s Design Thinking, Lean, and Agile.
      Our approach enables our customers to respond quickly to ever-changing market demands disruptions, with innovative
      business solutions. Our team holds deep expertise in company-wide scaling of customer experiences by improvising
      digital & data architectures.
    </p>
    <p>
      Who we can help - Early Starters at Incubation stage, Setting up Continuous Integration (CI/CD), Tech Leads facing
      execution issues, Product Managers in roadmap & design
    </p>
    <h2>Training Workshops</h2>
    <p>We provide trainings to corporates & nonprofits as part of our digital skills building program.</p>
    <p>Topics include AI@Work, Digital Marketing, Software Engineering, Project Management, Programming, etc.</p>

    <hr class="hr-line" />
    <p>Find us on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email us at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
